<?xml version='1.0' encoding='utf-8'?>
<plugin id="cn.com.ths.zzy.mos.sso" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ZzyMosSso</name>
    <js-module name="ZzyMosSso" src="www/ZzyMosSso.js">
        <clobbers target="cordova.plugins.ZzyMosSso" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ZzyMosSso">
                <param name="android-package" value="cn.com.ths.zzy.mos.sso.ZzyMosSso" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/ZzyMosSso.java" target-dir="src/cn/com/ths/zzy/mos/sso/ZzyMosSso" />
        <source-file src="src/android/ZConfigManager.java" target-dir="src/cn/com/ths/zzy/mos/sso/ZzyMosSso" />
        <source-file src="src/android/uusafe-engine-app-sdk-function.aar" target-dir="libs" />
        <framework custom="true" src="src/android/uusafe-engine-app-sdk-function.gradle" type="gradleReference" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ZzyMosSso">
                <param name="ios-package" value="ZzyMosSso" />
            </feature>
        </config-file>
         <framework src="src/ios/lib/UUPortalToolSDK.framework" custom="true"  embed="true" />
         <source-file src="src/ios/ZzyMosSso.m" />
    </platform>
</plugin>